* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  margin: 20px auto;
  position: relative;
}
.map {
  background-color: #fff;
}
.map td {
  width: 20px;
  height: 20px;
  background-color: pink;
}
.map td.wall {
  background-color: gray;
}
.player {
  width: 20px;
  height: 20px;
  background-color: green;
  position: absolute;
}
.size {
  background-color: gray;
  width: 110px;
  margin: 10px;
  border-radius: 8px;
  padding: 5px;
  color: pink;
  font-size: 16px;
  text-align: center;
}
.size #sizeBtn {
  border: 0;
}
